@charset "utf-8";
/* tablet서식 */


@media screen and (min-width:767px) and (max-width:1024px) { 

    body { overflow-x: hidden; } 

    /* 헤더 */
    header { height: auto; } 
    header .h_inner {width: 744px; height: auto; position: relative; display: block; } 
    h1 a img{padding-left: 10px;}

    /* 헤더아이콘 */
    .h_icon { position: absolute; top: 22px; right: 0px; } 

    /* 로그인 안보이게 */
    .login_wrap { display:none; } 


    /* 내비 배경색 */
    header .h_wrap { background: linear-gradient(180deg, rgba(255,255,255,1) 41%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 69.5%, rgba(255,255,255,1) 69.5%); height: 170px; } 
    .tablet_box { background: #000; width: 100%; } 

    /* 내비게이션 */
    .navi { width: 100%; height: 50px; padding: 10px 0px; margin-top: 20px; box-sizing: border-box; color: #fff; z-index: 10; } 

    /* 서브내비게이션 */
    header .sub { background: #fff; padding-top: 18px; margin-top:14px;}
    header .sub > li { padding: 0px 0px; } 
    .sub1 { display: block!important; display: flex!important; } 
    header .sub > li > a { color: #000; } 
    
    /* 메인서식 */
    article h2 { font-size:26px; margin: 128px 0px 10px 0px; } 
    article h3 { font-size: 12px; } 

    /* 메인배너 */
    .swiper { height: 50vh; } 
    .swiper-slide img { transform: scale(2.2) translate(100px,50px); } 
    .swiper_wrapper div:nth-child(2) img { transform: scale(2) translate(0px, 60px); } 

    /* 배너글자 */
    .big_font { font-size: 30px; width: 100%; top: 65%; } 
    .big_font > span { font-size: 14px; } 

    /* 좌우버튼 */
    .mbanner_btn { width: 744px; } 
    .mbanner_btn a img { width: 26px; } 

    /* 컨트롤버튼 */
    .pagination li { width: 200px; height: 8px; } 

    /* 신상품 */
    .newitem_wrap { width: 700px; } 
    .newitem_wrap ul { overflow: auto; white-space: nowrap; } 

    /* 텍스트hover */
    .hover_txt { width: 100%; font-size: 14px; padding: 30px 0px; } 

    /* 브랜드소개 */
    .brand_introduce { width: 100%; height: 396px; } 
    .back_img { background-size: 110%; background-attachment: local; } 
    /* 삼각로고 */
    .back_img .tri_logo { width: 57px; height: 48px; transform: translate(-300px,50px); } 
    /* 글자 */
    .back_img > p { padding-top: 0px; font-size: 12px; } 
    /* 버튼 */
    .back_img > input { width: 142px; height: 38px; transform: translate(268px,-108px); font-size: 14px; padding: 0px; } 

    /* women.men */
    .gender_wrap { width: 100%; height: 378px; } 
    .gender_wrap input { width: 144px; height: 78px; font-size: 20px; } 

    /* 이미지 위치 */
    .tri1 { top: -36px; left: 50%; width: 134px; } 
    .tri2 { top: 90px; right: 38%; width: 74px; } 
    .tri3 { top: 185px; right: -10%; width: 134px; } 
    .tri4 { top: 137px; left: 72px; width: 74px; } 
    .tri5 { top: 20px; left: 10%; width: 134px; } 
    .tri6 { left: 40%; width: 74px; } 
    .tri7 { top: 249px; right: 60%; width: 134px; } 
    .tri8 { top: 89px; left: 252px; width: 74px; } 

    /* 키워드랭킹 */
    .keywordranking { width: 656px; } 
    /* 랭크순위 wrqp */
    .rank_wrap { width: 307px; margin-right: 10px; } 
    /* 랭크순위 서브내비게이션 */
    .key_sub > li { width: 140px; height: 182px; padding-top: 10px; } 
    .key_sub > li:first-child { width: 140px; } 
    .key_sub > li:first-child a img { width: 100%; } 
    .key_sub > li:last-child { width: 140px; padding: 10px; } 

    /* 랭킹이미지 */
    .rank_grid a { display: none; width: 329px; } 
    .rank_grid a:first-child { display: block; } 

    /* 이미지위치 */
    .rank_img_wrap { left: 327px; } 

    /* 할인배너 */
    .b_black { height: 198px; } 
    .b_black > img { height: 198px; transform: translateX(-298px); } 
    /* 배너이미지 */
    .salebanner { border-radius: 0px 250px 250px 0px; } 

    /* 제목 */
    .saletxt_wrap > p { font-size: 30px; margin: 70px 0px 0px 10px; } 
    /* 설명+버튼 */
    .saletxt_wrap { width: 660px; top: 40px; } 
    .saletxt_wrap .discount { font-size: 45px; line-height: 45px; } 
    .saletxt_wrap > div > p { font-size: 12px; } 
    .saletxt_wrap #down_btn { width: 117px; height: 31px; margin-top: 12px; } 

    /* 데님컬렉션 */
    .denim_wrap { width: 743px; } 
    .denim_wrap li { width: 247px; height: 413px; } 
    .denim_wrap .dimg { width: 100%; } 
    /* 텍스트wrap */
    .denim_txt { width: 247px; font-size: 14px; } 
    .v_btn { width: 111px; height: 30px; line-height: 30px; font-size: 14px; } 

    /* 이벤트 */
    .event_txt { padding: 12px 0px 0px 70px; } 
    .event_txt p:first-child { font-size: 18px; } 
    .event_txt p:last-child { font-size: 12px; } 
    .event_btn { position: absolute; width: 100%; top: 35%; transform: translateY(-50%); } 
    .event_btn .elbtn { position: absolute; left: -20%; } 
    .event_btn .erbtn { position: absolute; right: -20%; } 

    /* 푸터 */
    .f_inner { width: 100%; padding: 83px 3% 20px 3%; box-sizing: border-box; } 
    .f_grid { display: grid; grid-gap: 50px; grid-template-areas:
        "f_logo f_logo"
        "f_menu1 f_menu1"
        "f_menu2 f_menu2"
        "f_copy f_sns"; 
    } 
    .f_menu2 > ul { float: right; width: 200px; text-align: right; } 
    .f_menu2 > ul > li { padding: 14px 14px 40px 0px; } 

    /* top버튼 */
    .top_btn { padding: 30px 10px; font-size: 10px; z-index: 99; } 
}